

h1 {
  float: left;
  font-size: 20px;
  color: aliceblue;
  margin-top: 60px;
  text-indent: 125px;
}

h6 {
  /* float: inline-end; */
  font-size: 150%;
  margin: auto;
  text-indent: 90px;
  text-shadow: 1px 0.6px 0.25px white;
  opacity: 0.4;
}

h2 {
  
  padding-top: 10px;
  margin-top: 80px;
  text-align: right;
  font-size: 14px;
  color: black;
  border: 3px;
  border-top-style: solid;
}

button {
  max-width: 100%;
  max-height: 100%;

  margin-top: 1.25rem;
  /* display: inline-block; */
  outline: none;
  border-style: none;

  font-weight: bolder;

  background-size: contain;
  background-color: inherit;
  cursor: pointer;
  transition: 0.2s ease-in;
}

button:hover {
  /* display: relative; */
  opacity: 90%;
  color: rgb(35, 110, 0);
  font-size: 100px;
}

.main {
  background: linear-gradient(0.1turn, rgb(59, 100, 119), rgb(16, 54, 80));
  /* background-color: rgb(59, 100, 119); */
  font-size: 19px;
  font-family:'Arial';
 
}

img.wrench {
  display:block;
  margin: auto;
 
  padding: 10px;

}



.bio {
  margin:auto;
  padding:5px;
  height: 20%;
  font-family: tahoma;
}

/****************************
hides and displays bio photos
*****************************/
.hidden {
  display: hidden;
}

.overlay {
  position: absolute;
  text-align: center;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s eas;
  background-color: #008cba;
}

.btnContainer {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
}

.send-button {
  background-color: lawngreen;
  font-family: arial;
  font-size: 11px;
  padding: 3px 3px;
  border: 2px black;
  box-shadow: black;
}

.send-button:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  font-family: arial;
  font-size: 11px;
  padding: 3px 3px;
  border: 2px black;
  box-shadow: black;
}

/* all photos */
.photo-container {
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  box-shadow: 0.2px black;
  text-align: center;
  width: auto;
}

.image {
  max-height: 100%;
  max-width: 100%;

  display: block;
  opacity: 1;
  margin: 0.8rem;
  width: 180px;
  border: solid 2.5px;
  border-color: black;
  border-width: 1px;
  opacity: 75%;
  cursor: pointer;
}

.image:hover {
  max-height: 100%;
  max-width: 100%;

  opacity: 30%;
  margin: 0.3rem;
  /* margin: 20px; */
  width: 185px;
  opacity: 95%;
  display: inline-block;
  border-color: rgb(255, 183, 0);
  border-width: 4px;
  transition: 0.3s ease-out;

  /* transition: ease-in-out 0.5s;
  transition-duration: 0.5s;
  transition-property: all; */
}

.vector {

  justify-content: center;
}

.-button {
  max-width: 100%;
  max-height: 100%;

  
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  margin-top: -0.5rem;
  
  display: relative;
  outline: black 3px;
  border-style: none;
  cursor: pointer;
  
  
  font-weight: bolder;

}

.-button:hover {
  opacity: 80%;
  -webkit-text-stroke: black 0.4px;
  color: rgb(255, 251, 0);
  transition: 0.3s ease;
  
  
  
  font-size: 21px;
}

.inputbar {
  padding: 10px;
  display: block;
  text-align: right;
}

#photo {
  display: block;
   
  border: solid 2px;
  border: black 1px;
}

#occup {
  border-bottom-style: double;
  text-align: right;
  padding-top: 70px;
  padding-bottom: 20px;
  text-indent: 150px;
  direction: rtl;
}

#bio-thing {
  margin-top: 10px;
  text-align: left;
}

#bio-dots {
  margin: auto;
  text-align: center;
  /* padding-top: 20px; */
  border-bottom: dotted 15px;
  color: rgb(255, 183, 0);
  width: 100px;
}

#biography {
  box-shadow: 3px 5px black;
  margin: auto;
  margin-top: 25px;
  margin-right: 100px;
  margin-left: 100px;
  width: auto;
  padding: 12px;
  border: solid 2px;
  background-color: rgb(157, 194, 178);
}




#intro {
  display: flex;
  opacity: 80%;
  
  margin: auto;
  margin-right: -20px;
  /* align-content: left; */
  
  font-family: Tahoma;
  color:rgb(3, 61, 3);
  font-size: 150px;
  font-weight: bolder;
  
  /* text-indent: 20px; */
}
#dabble {

  text-align: center;
  font-family: tahoma;
  margin: auto;
   
}

#label {


  margin-left:auto;
  opacity: 60%;
  font-size: 24px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;




}



