* {
  /* box-sizing: border-box; */
  /* margin: auto; */
}


.main {
  background-color: rgb(59, 100, 119);
  font-size: 11px;
  font-family: sans-serif;
  text-align: left;
}

#pictures {
margin: 0%;
text-align: center;
}

.bio {
  height: 20%;
  font-family: tahoma;
}

/****************************
hides and displays bio photos
*****************************/
.hidden {
  display: hidden;
}

.overlay {
  position: absolute;
  text-align: center;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s eas;
  background-color: #008cba;
}

button {
  margin-top: 1.25rem;
  display: inline-block;
  outline: none;
  border-style: none;
  font-family: tahoma;
  font-size: 10px;
  font-weight: bolder;
  background-size: contain;
  background-color: inherit;
  cursor: pointer;
  transition: 0.2s ease-in;
  margin: 0.0001rem;
}

button:hover {
  opacity: 80%;
  color: lawngreen;
}

.send-button {
  background-color: lawngreen;
  font-family: arial;
  font-size: 11px;
  padding: 3px 3px;
  border: 2px black;
  box-shadow: black;
}

.send-button:hover {
  background-color: rgb(0, 0, 0);
  font-family: arial;
  font-size: 11px;
  padding: 3px 3px;
  border: 2px black;
  box-shadow: black;
}

.photo-container {
  box-sizing: border-box;
  /* padding: 10px; */

  box-shadow: 0.2px black;
  
}

.button-labels {
  display: flex;
  justify-content: center;
}

.image {
  display: absolute;
  margin: 0.5rem;
  width: 80px;
  border: solid 2.5px;
  border-color: black;
  border-width: 1px;
  opacity: 90%;
  cursor: zoom-in;
}

.image:hover {
  width: 120px;
  opacity: 75%;
  display: inline-block;
  border-color: rgb(255, 183, 0);
  border-width: 5px;
  transition: 0.5s ease-out;

  /* transition: ease-in-out 0.5s;
  transition-duration: 0.5s;
  transition-property: all; */
}

.-button {
  margin: none;
  display: relative;
  outline: black 3px;
  border-style: none;
  cursor: pointer;
}

.-button:hover {
  opacity: 80%;
  transition: 0.4s ease-in;
}


.inputbar {
  padding: 10px;
  display: block;
  text-align: right;
}

#photo {
  display: block;
  border: solid 2px;
  border: black 1px;
}

#occup {
  border-bottom-style: double;
  text-align: right;
  padding-top: 70px;
  padding-bottom: 20px;
  text-indent: 150px;
  direction: rtl;
}

#bio-border {
  margin-top: 20px;
  border-bottom-color: yellow;
  border-bottom-style: dotted;
  border-width: 20px;
  width: 150px;
}

#bio-thing {
  margin-top: 10px;
  text-align: left;
  text-indent: 0%;
}

#bio-dots {

  margin: auto;
  text-align: center;
  /* padding-top: 20px; */
  border-bottom: dotted 15px;
  color: rgb(255, 183, 0);
  width: 100px;
}

#biography {
  box-shadow: 3px 5px black;
  margin: auto;
  margin-top: 25px;
  margin-right: 100px;
  margin-left: 100px;
  width: auto;
  padding: 12px;
  border: solid 2px;
  background-color: rgb(157, 194, 178);
}

h1 {
  float: left;
  font-size: 25px;
  color: aliceblue;
  margin-top: 60px;
  text-indent: 125px;
}

h6 {
  float: inline-end;
  font-size: 150%;
  margin: auto;
  text-indent: 90px;
  text-shadow: 1px 0.6px 0.25px white;
  opacity: 0.4;
}

h2 {
  font-family: tahoma;
  margin-top: 80px;
  text-align: right;
  font-size: 11px;
  color: black;
  border: 3px;
  border-top-style: solid;
}

#intro-text {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  border-bottom-style: solid;
  margin-block: 1%;
  text-indent: 50px;
}

#intro-body {
  position: absolute;
  height: 50px;
  top: 18.5%;
  display: flex;
  align-items: center;
}
